# Project specific
deploy/
models/
tests/output/

# Large Media and Model Files
*.mp4
*.mov
*.safetensors
*.ckpt
*.pt
test_output*.jpg

# Logs
*.log

# Caches and Build
.cache/
.pytest_cache/
__pycache__/
*.py[cod]

# Virtual Environments
.venv/

# OSX Meta
.DS_Store
.DS_Store?

# Agent files
.agent/
